@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Libre+Baskerville&display=swap');

/* font-family: 'Caveat', cursive; */
/* font-family: 'Libre Baskerville', serif; */

:root {
  --color-1: #F8EDE3;
  --color-2: #DFD3C3;
  --color-3: #D0B8A8;
  --color-4: #7D6E83;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: serif;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-4);
  color: var(--color-4);
}

#quote-box {
  border-radius: 1em;
  width: fit-content;
  max-width: 75%;
  background-color: var(--color-1);
  box-shadow: 0 0 1em var(--color-2);
}

#quote-block {
  border-bottom: 1px solid var(--color-3);
  position: relative;
  margin: 0;
}

#text {
  font-family: Caveat, cursive;
  font-size: 2.5em;
  text-align: justify;
  text-shadow: 0 0 0.5em var(--color-3);
  margin: 1em;
}

#author {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  right: 0%;
  bottom: 0%;
  padding: 0.5em;
}

#author::before {
  content: "— ";
}

#control-bar {
  display: flex;
  justify-content: space-between;
}

#control-bar .clickable {
  padding: 0.5em;
  color: var(--color-4);
}

#control-bar .clickable:hover {
  text-shadow: 0 0 1em var(--color-4);
}